body{
  margin: 0 auto;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../img/background.png');
}

#cuerpo{
  opacity: 0.9;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #222;
  list-style-type:none;
  position: relative;
  width: 750px;
  height: 580px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  top: 160px;
}

#mapaAcarreo {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(232, 231, 229);
  list-style-type:none;
  position: relative;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  background: #CCC;
  width: 700px;
  height: 330px;
}

#derecha {
  font-family: 'Montserrat', sans-serif;
  background: white;
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;

  width: 25%;
}

input[type=text], select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 700px;
    padding: 12px 20px;
    margin: 0 auto;
    top: 10px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    font-size: 18px;
    background-color: #149FE9;
    color: white;
    padding: 20px 0 20px 20px;
    margin: 10px auto;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #149FF1;
}

#cuadroDialogo p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #149FF1;
  list-style-type:none;
  color: white;
  position: relative;
  width: 700px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
