body{
  margin: 0 auto;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../img/background.png');
}

#mapaDeposito {
  background: #CCC;
  position: absolute;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 4px;
  box-sizing: border-box;
  top: 150px;
  bottom: 0px;
  left: 0;

  width: 75%;
  height: 700px;
}

#derecha{
  opacity: 0.9;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #222;
  list-style-type:none;
  position: relative;
  color: white;
  width: 24%;
  height: 700px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  left: 37.5%;
}

#derecha .contenido{

}

h2{
  color: #149FE9;
}
