body{
  margin: 0 auto;
  background-color: #222;
  background-repeat: no-repeat;
  background-image: url('../img/background.png');
  background-size: 100%;
}

#cuerpo{
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222;
    list-style-type:none;
    position: relative;
    width: 750px;
    height: 30%;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    position: relative;
    top: 160px;
}

input[type=text], select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 700px;
    padding: 12px 20px;
    margin: 0 auto;
    top: 10px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    font-size: 18px;
    background-color: #149FE9;
    color: white;
    padding: 20px 0 20px 20px;
    margin: 30px auto;
    position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #149FF1;
}

#cuadroDialogo p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #149FF1;
  color: white;
  list-style-type:none;
  position: relative;
  width: 700px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

#cuadroInfracciones li {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#149FF1;
  color: white;
  list-style-type:none;
  position: relative;
  width: 700px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  right: 35px;
}

#botonConsultaAcarreo {
  top: -110px;
  left: 300px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: url('../img/botonInf.png');
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}

/*position: absolute;
}

#cuadroInfracciones ul > ul li {
float: top;
}*/



/*#cuadroInfracciones p{
  position:relative;
  top:310px;
  color: white;

}
*/
/*#cuadroInfracciones ul{
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  color: white;
  font-size: 18px;
  background-color: #149FE9;
  padding: 20px 0 20px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  border-radius: 4px;
  position:relative;
  top: 330px;
}
